
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap");

* {
	text-align: center;
	font-family: "Montserrat", sans-serif;
}

.list1{
    background-color: rgb(209, 222, 248);
    padding-top: 10px;
    margin: auto;
    width: 500px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
    border: 10px inset rgb(184, 231, 184);
}
.listname{
    font-weight: bold;
    background-image: linear-gradient(to bottom right, rgb(185, 164, 164), rgb(138, 190, 149));
    margin: 20px;
    padding: 30px;
    border-radius: 5px;
    border: 4px outset rgb(230, 196, 196);
    color: rgb(252, 252, 252)
}

.commonimg{
    width: 300px;
    margin: auto;
}

.commontitle{
    font-size: 35px;
    font-weight: bolder;
    color: white;
    text-shadow: 0px 2px 4px #000000;
}

body{
  min-width: fit-content; 
  margin:none; 
  padding:none;
}
header{
  background-color: black;
  color: white; 
  padding: 23px;
  font-size: 20px; 
  box-shadow: 0 8px 8px 0 rgba(0,0,0,0.4);
}

h1{
  font-size: 36px;
}

footer {
  background-color: black;
  color: white; 
  padding: 1px; 
}

body {
	min-width: fit-content;
	margin: none;
	padding: none;
}

.intro_a {
    text-decoration: none;
    color: var(--text-color);
}

.introduce_title {
    font-size: 30px;
    margin: 15px;
}

.table {
    margin: 10px;
    padding: 5px;
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 1px 1px;
    border-radius: 5px 5px;
}

.table_head {
    background-color: beige;
    padding: 5px;
}

.table_td {
    padding: 5px;
}

header {
	background-color: black;
	color: white;
	padding: 23px;
	font-size: 20px;
	box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.4);
	margin-bottom: 20px;
}

footer {
	background-color: black;
	color: white;
	padding: 1px;
	margin-top: 20px;
}
.mkdiv {
	background: linear-gradient(rgb(45, 161, 214), rgb(226, 236, 238));
	padding: 20px;
}
.mkdivtitle {
	color: #ffffff;
	font-size: 28px;
	margin-bottom: 10px;
}
.lists {
	font-size: 25px;
}
.listitem {
  line-height: 35px; 
}

.form-title {
    font-size: 30px;
    text-align: center;
    padding-bottom: 10px;
}

.yw-text {
    font-size: 30px;
}

.formm {
    height: 25px;
    width: 30%;
    background-color: pink;
    font-size: 15px;
}

.form-choice {
    font-size: 20px;
}
.yw-buttons {
    margin-right: auto;
    margin-left: auto;
    padding-bottom: 10px;
}

.yw-button {
    font-size: 15px;
    text-align: center;
    padding: 5px 20px;
    background-color: lightskyblue;
    border-color: dodgerblue;
    border-radius: 3px;
}

.yw-password {
    margin-bottom: 20px;
}

.yeonwoo {
    padding-top: 2%;
    background-color: lavender;
    padding-bottom: 2%;
}